@media only screen and (min-device-width: 375px) and (max-width: 3200px) {

  /* iPhone 6, 7, 8 ----------- */
  @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {

    body,
    html {
      font-family: 'Lucida Sans', Arial, sans-serif;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      overflow-x: hidden;
      scroll-behavior: smooth;
    }
  }

  @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {

    body,
    html {
      font-family: 'Lucida Sans', Arial, sans-serif;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      overflow-x: hidden;
      scroll-behavior: smooth;
    }
  }

  body {
    font-family: 'Lucida Sans', Arial, sans-serif;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
  html {
    scroll-behavior: smooth;
  }


  

/* this is the Header text in the top jumbotron*/
.display-4 {
  margin-bottom: 20px;
  font-size: 30px;
}

.jumbotron-3-footer {
  background-color: #ffffff;
  color: rgb(90, 90, 90);
  padding-bottom: 35px;
  padding-top: 30px;
  text-align: center;
  background-attachment: fixed;
}
.bottom-nav a, a {
  padding: 10px 10px;
  text-decoration: none;
  color: rgb(90, 90, 90);
  text-decoration-color:white;


}

.showcase {
  background-image: url('../src/components/img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

.jumbo-home {
  /* background-image: url('../src/components/img/opendoor.jpg'); */
    background-image: url('../src/components/img/compass1.jpg');
  /* background-image: url('../src/components/img/compass2.jpg'); */
  /* background-image: url('../src/components/img/compass3.jpg'); */

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: rgb(255, 255, 255);
  opacity: .9;
  padding-top: 200px;
  padding-bottom: 200px;
  text-shadow: #636e79;
}
.jumbo-home-3 {
  background-image: url('../src/components/img/opendoor.jpg');
  /* background-image: url('../src/components/img/compass1.jpg'); */
  /* background-image: url('../src/components/img/compass2.jpg'); */
  /* background-image: url('../src/components/img/compass3.jpg'); */

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  opacity: .9;
  padding-top: 200px;
  padding-bottom: 200px;
  text-shadow: #636e79;
}

.jumbo-home-2 {
  background-image: url('../src/components/img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: white;
  opacity: .9;
  width: auto;
  padding:50px;
  padding-top: 100px;
  padding-bottom: 100px;
  height: auto;
}

.jumbo-home-bottom {
  background-image: url('../src/components/img/sunset.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: white;
  opacity: .8;
  width: auto;
  height: auto;
  margin-block-end: 0;
   padding: 50px;
   padding-top: 100px;
   padding-bottom: 100px;
}


.login {
  text-align: center;
  margin-bottom: 200px;
  margin-top: 50px;
}



.bottom {
 display: flex;
 flex-wrap: wrap;
 text-align: center;
 justify-content: center;

}
.faq-card {
  margin-top: 10px;
  margin-bottom: 10px;
  padding:20px;
}
.img-container {
  margin: 10px;
  text-align: center;
  align-items: center;

}
h3{
  padding: 10px;
  background-color: rgb(202, 211, 219);
}


.the-team {
  padding-top: 20px;
}


.bio-picture-egert {
text-align: center;
}



.bio-text-egert {
  text-align: left;
}



.bio-picture-rossi {
  padding-top: 20px;
}



.bio-text-rossi {
  text-align: left;
}

.row-rossi {
  padding-top: 5px;
}

.bio-picture-meyer {
  margin-right: 5px;
  text-align: center;
}



.bio-text-meyer {
 text-align: left;
}

.row-meyer {
  padding-bottom: 30px;
}

.top-jumbo-info{
  text-align: center;
  height: 200px;
  padding-top: 50px;
  margin-bottom: 150px
}


.row-item {
  margin: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}

.faq-head {
  margin-bottom: 10px;
}










/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

/* Padding */
.p {
  padding: 0.5rem;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.py {
  padding: 0.5rem 0;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

.m-3 {
  margin: 3rem;
}

.my {
  margin: 0.5rem 0;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.my-3 {
  margin: 3rem 0;
}

.round-img {
  border-radius: 50%;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

/* Forms */
.form .form-group {
  margin: 1.2rem 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.form input[type='submit'],
button {
  font: inherit;
}


/* Posts Page */
.post-form .post-form-header {
  background: var(--primary-color);
  padding: 0.5rem;
}

.post {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 2rem;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 25px;
}



.post img {
  width: 100px;
}

.post .comment-count {
  background: var(--light-color);
  color: var(--primary-color);
  padding: 0.1rem 0.2rem;
  border-radius: 5px;
  font-size: 0.8rem;
}

.post .post-date {
  color: #aaa;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}





}









/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
body {
  font-family: 'Lucida Sans', Arial, sans-serif;
  background-repeat:no-repeat;
     width: auto;
     height: 100%;
     margin: 0px;
     padding: 0px;
     overflow-x: hidden;

}
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
body {
  font-family: 'Lucida Sans', Arial, sans-serif;
  background-repeat:no-repeat;
     width: auto;
     height: 100%;
     margin: 0px;
     padding: 0px;
     overflow-x: hidden;

}
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
body {
  font-family: 'Lucida Sans', Arial, sans-serif;
  background-repeat:no-repeat;
     width: auto;
     height: 100%;
     margin: 0px;
     padding: 0px;
     overflow-x: hidden;

}
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
body {
  font-family: 'Lucida Sans', Arial, sans-serif;
  background-repeat:no-repeat;
     width: auto;
     height: 100%;
     margin: 0px;
     padding: 0px;
     overflow-x: hidden;

}
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
body {
  font-family: 'Lucida Sans', Arial, sans-serif;
  background-repeat:no-repeat;
     width: auto;
     height: 100%;
     margin: 0px;
     padding: 0px;
     overflow-x: hidden;

}
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
body {
  font-family: 'Lucida Sans', Arial, sans-serif;
  background-repeat:no-repeat;
     width: auto;
     height: 100%;
     margin: 0px;
     padding: 0px;
     overflow-x: hidden;

}
}

/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
body {
  font-family: 'Lucida Sans', Arial, sans-serif;
  background-repeat:no-repeat;
     width: auto;
     height: 100%;
     margin: 0px;
     padding: 0px;
     overflow-x: hidden;

}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
body {
  font-family: 'Lucida Sans', Arial, sans-serif;
  background-repeat:no-repeat;
     width: auto;
     height: 100%;
     margin: 0px;
     padding: 0px;
     overflow-x: hidden;

}
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
body {
  font-family: 'Lucida Sans', Arial, sans-serif;
  background-repeat:no-repeat;
     width: auto;
     height: 100%;
     margin: 0px;
     padding: 0px;
     overflow-x: hidden;

}
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
body {
  font-family: 'Lucida Sans', Arial, sans-serif;
  background-repeat:no-repeat;
     width: auto;
     height: 100%;
     margin: 0px;
     padding: 0px;
     overflow-x: hidden;

}
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
body {
  font-family: 'Lucida Sans', Arial, sans-serif;
  background-repeat:no-repeat;
     width: auto;
     height: 100%;
     margin: 0px;
     padding: 0px;
     overflow-x: hidden;

}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
body {
  font-family: 'Lucida Sans', Arial, sans-serif;
  background-repeat:no-repeat;
     width: auto;
     height: 100%;
     margin: 0px;
     padding: 0px;
     overflow-x: hidden;

}
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
body {
  font-family: 'Lucida Sans', Arial, sans-serif;
  background-repeat:no-repeat;
     width: auto;
     height: 100%;
     margin: 0px;
     padding: 0px;
     overflow-x: hidden;

}
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
body {
  font-family: 'Lucida Sans', Arial, sans-serif;
  background-repeat:no-repeat;
     width: auto;
     height: 100%;
     margin: 0px;
     padding: 0px;
     overflow-x: hidden;

}
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
body {
  font-family: 'Lucida Sans', Arial, sans-serif;
  background-repeat:no-repeat;
     width: auto;
     height: 100%;
     margin: 0px;
     padding: 0px;
     overflow-x: hidden;

}
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
body {
  font-family: 'Lucida Sans', Arial, sans-serif;
  background-repeat:no-repeat;
     width: auto;
     height: 100%;
     margin: 0px;
     padding: 0px;
     overflow-x: hidden;

}
}

/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
body {
  font-family: 'Lucida Sans', Arial, sans-serif;
  background-repeat:no-repeat;
     width: auto;
     height: 100%;
     margin: 0px;
     padding: 0px;
     overflow-x: hidden;

}
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
body {
  font-family: 'Lucida Sans', Arial, sans-serif;
  background-repeat:no-repeat;
     width: auto;
     height: 100%;
     margin: 0px;
     padding: 0px;
     overflow-x: hidden;

}
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {
body {
  font-family: 'Lucida Sans', Arial, sans-serif;
  background-repeat:no-repeat;
     width: auto;
     height: 100%;
     margin: 0px;
     padding: 0px;
     overflow-x: hidden;

}
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {
body {
  font-family: 'Lucida Sans', Arial, sans-serif;
  background-repeat:no-repeat;
     width: auto;
     height: 100%;
     margin: 0px;
     padding: 0px;
     overflow-x: hidden;

}
}

/* iPhone XS Max, XR ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {
body {
  font-family: 'Lucida Sans', Arial, sans-serif;
  background-repeat:no-repeat;
     width: auto;
     height: 100%;
     margin: 0px;
     padding: 0px;
     overflow-x: hidden;

}
}

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {
body {
  font-family: 'Lucida Sans', Arial, sans-serif;
  background-repeat:no-repeat;
     width: auto;
     height: 100%;
     margin: 0px;
     padding: 0px;
     overflow-x: hidden;

}
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
body {
  font-family: 'Lucida Sans', Arial, sans-serif;
  background-repeat:no-repeat;
     width: auto;
     height: 100%;
     margin: 0px;
     padding: 0px;
     overflow-x: hidden;

}
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
body {
  font-family: 'Lucida Sans', Arial, sans-serif;
  background-repeat:no-repeat;
     width: auto;
     height: 100%;
     margin: 0px;
     padding: 0px;
     overflow-x: hidden;

}
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {
body {
  font-family: 'Lucida Sans', Arial, sans-serif;
  background-repeat:no-repeat;
     width: auto;
     height: 100%;
     margin: 0px;
     padding: 0px;
     overflow-x: hidden;

}
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {
body {
  font-family: 'Lucida Sans', Arial, sans-serif;
  background-repeat:no-repeat;
     width: auto;
     height: 100%;
     margin: 0px;
     padding: 0px;
     overflow-x: hidden;

}
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {
body {
  font-family: 'Lucida Sans', Arial, sans-serif;
  background-repeat:no-repeat;
     width: auto;
     height: 100%;
     margin: 0px;
     padding: 0px;
     overflow-x: hidden;

}
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {
body {
  font-family: 'Lucida Sans', Arial, sans-serif;
  background-repeat:no-repeat;
     width: auto;
     height: 100%;
     margin: 0px;
     padding: 0px;
     overflow-x: hidden;

}
}