@media only screen and (max-width: 3200px) {
body{
  font-family: 'Lucida Sans', Arial, sans-serif;
  background-repeat:no-repeat;
     width: 100%;
     height: 100%;
     margin: 0px;
     padding: 0px;
     overflow-x: hidden;

}

.display-4 {
  margin-bottom: 20px;
  font-size: 30px;
}

.jumbotron-3 {
  background-color: rgba(0, 0, 0, 0.815);
  color: white;
  padding-bottom: 35px;
  padding-top: 30px;
  text-align: center;
  background-attachment: fixed;
}


.jumbo-home {
  background-image: url('../src/components/img/img-3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: white;
  opacity: .8;
  height: 450px;
}

.jumbo-home-2 {
  background-image: url('../src/components/img/img-2 copy.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: white;
  opacity: .9;
  height: 450px;
}






.the-team {
  padding-top: 20px;
}


.bio-picture-egert {
text-align: center;
}



.bio-text-egert {
  text-align: justify
}



.bio-picture-rossi {
  padding-top: 20px;
  float: right;
}



.bio-text-rossi {
  text-align: justify;
}

.row-rossi {
  padding-top: 5px;
}

.bio-picture-meyer {
  margin-right: 5px;
  text-align: center;
}



.bio-text-meyer {
 text-align: justify;
}

.row-meyer {
  padding-bottom: 30px;
}



.row-item {
  margin: 10px 10px 10px 10px;
  padding-bottom: 20px;
  padding-top: 20px;
}
}